<div class="announcementbar">
    <p>
        this is announcementbar
    </p>
</div>

{% schema %}
{
    "name": "announcementbar",
    "settings": [
        
        ]
}
{% endschema %}